
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    flex-direction: row;
    /* justify-content:space-between; */
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(162, 157, 157, 0.351);
    box-shadow: 0px 0px 10px rgba(21, 20, 20, 0.1);  
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    padding-left: 100px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap:80px;
    padding-left: 200px;
    align-items: center;
}

.navbar ul li{
    cursor: pointer;
    transition: color 0.2s ease;
}

.navbar ul li:hover{
    color:#0066cc;
    border-bottom: 2px blue solid;
    font-size: 18px;
}