body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
}

.fixed-navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.fixed-navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.fixed-navbar a:hover {
  background-color: #555;
  border-radius: 5px;
  border: none;
}

.content-section {
    padding: 100px 20px;
    text-align: center;
    min-height: 100vh;
}

.content-section h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.content-section p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.content-section form{
    width: 300px;
    margin: 0 auto;
}

.content-section label,
.content-section input,
.content-section textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
}

.content-section button{
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.content-section button:hover {
  background-color: #555;
}